html {
	background-color: #ffffff;
	color: #333333;
	font: normal 14px sans-serif;
}

body {
	max-width: 800px;
	min-width: 800px;
	margin: 1.5em auto;
}

p, blockquote, ol, ul, h1, h2, h3, h4, h5, h6 {
	margin: 0.5em 0;
	line-height: 1.35em;
	text-align: justify;
}

pre {
	margin: 0.5em 0;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1.15em;
}

a {
	color: #4400ff;
	text-decoration: none;
}

a:active, a:hover, a:focus {
	color: #8833ff;
	text-decoration: underline;
}

blockquote, q {
	color: #808080;
}

blockquote {
	border-left: 2px solid #c0c0c0;
	padding-left: 0.75em;
}

ol, ul {
	padding: 0 0 0 2em;
}

ul ul, ul ol, ol ul, ol ol, li * {
	margin: 0;
}

code, kbd, pre, samp {
	font-family: monospace;
	font-size: .875em;
	line-height: 1.2em;
	text-align: left;
	overflow: auto;
	tab-size: 2;
}

code {
	color: #0088bb;
}

pre code {
	color: #333333;
	font-size: 1em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 1em 0;
	width: 100%;
	border: 1px solid #cccccc;
}

th, td {
	border: 1px solid #e0e0e0;
}

th {
	background-color: #f0f0f0;
	font-weight: bold;
}

th, tr, td {
	padding: 0.25em .5em;
}

hr {
	background-color: #c0c0c0;
	border: none;
	height: 1px;
	margin: 1em 0;
}

img {
	border: 0;
	max-width: 100%;
	margin: 2px;
	vertical-align: top;
}

.site-header h1 {
	font-size: 1.75em;
}

.site-title {
	color: #333333;
}

.entries {
	list-style: none;
	padding: 0;
}

.entries li {
	margin: 0.5em 0;
}

.entry-date {
	font-size: 0.875em;
	color: #808080;
}

.entry-title {
	font-weight: bold;
}

.post-date {
	color: #808080;
}
